.Main-page-search-input{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
width: 60%;
height: 25px;
border-radius: 8px;
}

.App-header{
    a{
        text-decoration: none;
        color: black;
    }
}